<%- contentFor('hero') %>
<section class="hero">
<div class="hero_content">
<h2>All about Me!</h2>
	<p> I am third year student from NIT Hamirpur.</p>
	
	<a href="/contact" class="btn btn-lg btn-primary">Drop me a line!</a>
</div>	
</section>
<%- contentFor('body') %>

		<div class="jumbotron text-center">
			Home Page
		</div>
